PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
DATABASE_URL="postgresql://postgres:password@localhost:5432/hubmall_db?schema=public"
JWT_SECRET="hubmall_super_secret_jwt_key_2026"
JWT_EXPIRES_IN="7d"
